*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.our__team{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.guvohnoma{
    width: 60%;
}

@media (max-width: 576px) {
    .guvohnoma{
        width: 100%;
    }
}

.our__team-title{
    margin-top: 40px;
    font-size: 46px; 
    text-align: left;
    margin-left: 100px;
}
.team{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.team__right{
    width: 50%;
    margin-right: 25px;
    margin-left: 100px;
}
.team__img{
    width: 100%;
}
.team__left{
    text-align: left;
    width: 50%;
    margin-right: 100px;
    margin-left: 25px;
}
.team__title{
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 15px;
}

.team__title2{
    font-size: 20px;
    color: #78878C;
    line-height: 24px;
    font-weight: 300;
}
.line{
    height: 5px;
    width: 75px;
    background: #1283D6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

@media (max-width: 962px) {
    .team{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .team__right{
        margin: 0px;
        width: 70%;
    }
    .team__left{
        margin: 0px;
        width: 70%;
    }
    .our__team-title{
        text-align: center;
        margin-left: 0px;
    }

}
@media (max-width: 576px) {
    .team__right{
        width: 100%;
    }
    .team__left{
        width: 100%;
        margin-top: 30px;
    }
    .our__team-title{
        margin-left: 0px;
    }
}