.signup {
    width: 100%;
    height: max-content;
}
.signup__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    background:#F5F5F5;;
}
.signup__title {
    font-style: normal;
font-weight: 600;
font-size: 1.5vw;
line-height: 30px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
padding: 2vw;
color: #111;
}
.signup__description {
    width: 30%;
    padding-bottom: 2vw;
    font-style: normal;
font-weight: normal;
font-size: 1vw;
line-height: 19px;
text-align: center;
color: #647378;
}
.signup__input {
    padding: 1vw;
    background: #E6E6E6;
}
.signup__input input {
    width: 320px;
    height: 36px;
    outline: none;
    border: none;
    padding: 1vw;
}
.signup__input button {
    width: 100px;
    height: 36px;
    outline: none;
    border: none;
    background:#1283D6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.signup__input button:hover {
    background-color: #0095ff;
}

@media screen and (max-width: 769px) {
    .signup__input {
        display: flex;
        flex-direction: column;
    }
    .signup__title {
        font-size: 2.5vw;
    }
    .signup__description {
        font-size: 2vw;
        width: 50%;
    }
    .signup__input input {
        width: 100%;
    }
    .signup__input button {
        width: 100%;
    }
}