.team {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 5vw 3vw;
    margin-top: 5vw;
}
.team__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw 0 3vw 0;
}
.team__title {
    font-size: 18px;
    font-weight:bold;
    color: #111;
}
.team__item {
    width: 100%;
    display: flex;
    margin-bottom: 35px;
}
.team__person_photo {
    width: 600px;
}
.team__person_photo img {
    width: 100%;
}
.team__person_info {
    padding: 0 4vw;
}
.team__person_name {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #111;
}
.team__person_about {
    font-style: normal;
font-weight: 300;
font-size: 18;
line-height: 24px;
color: #78878C;
padding: 15px 0;
}
.team__person_about__description {
    display: flex;
    flex-direction: column;
    font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 25px;
padding: 25px 0;
}
.team__person_about__description span {
    width: 100px;
    height: 5px;
    background-color: #1283D6;
    margin-bottom: 25px;
}

@media screen and (max-width: 769px) {
    .team__item {
        flex-direction: column;
        align-items: center;
    }
    .team__person_name {
        padding-top: 25px;
    }
    .flex-reverse {
        flex-direction: column-reverse;
    }
}