{% load static %}
<header class="header">
            <!-- Header Brand Item -->
            <div class="brand">
                <img src="{% static 'fronted/images/logo-dark.png' %}" alt="Logo">

            </div>
            <!-- Header Nav Items -->
            <nav>
                <ul >
                    <li ><a href="{% url 'index' %}">Home</a></li>
                    <li ><a href="{% url 'course' %}">Corses</a></li>
                    <li ><a href="{% url 'team' %}">Team</a></li>
                    <li ><a href="{% url 'news' %}">News</a></li>
                    <li><a href="#">Contact</a></li>

                    <li class="log__in"><a href="#">Log In</a></li>
                </ul>
            </nav>
            <!-- Header Close Button -->
            <div class="menu__button">
                <div class="menu__button__burger"></div>
            </div>
        </header>