<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="fonts/all.min.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/media.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="introduction">    
                <h2 class="introduction__title">Introduction</h2>
                <p class="introduction__text">Sara explains the importance of dedicated thinking time for developing your idea. Learn how to filter your ideas, how to differentiate yourself from your competitors, and when to patent your ideas.</p>
            </div>
            <div class="video">
                <img class="video__img" src="./IMG/Rectangle 1251.png" alt="">
                
            </div>
            <div class="buy">
                <div class="buys">
                    <h3 class="buys__title">To unlock all lessons buy now</h3>
                    <div class="price">
                        <p class="price__text">Price:</p>
                        <p class="price__num">$125</p>
                    </div>
                    <button class="buy__button">BUY</button>
                </div>
                <div class="plan">
                    <h3 class="plan__title">LESSON PLAN</h3>                    
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                    <div class="plan__video">
                        <div class="line"></div>
                        <i class="fas fa-lock"></i>
                        <h4 class="plan__video-text">01. Introduction</h4>
                    </div>
                </div>
            </div>
            <div class="video__comment">
                <h2 class="video__title">Comments</h2>
                <ul class="comments" id="myUL">
                    <li class="comment">
                        <div class="person">
                            <img class="person__img" src="./IMG/Ellipse 16.png" alt="">
                            <h4 class="person__title"> Nooshin A.</h4>
                        </div>
                        <p class="comment__text">I have watched some of the courses, but this one was awesome and the best. I wish she helps me in my journey. I aim very high, but without any support. I just have universe support. I know I don't give up. Thanks for sharing this video.</p>
                    </li>
                    <li class="comment">
                        <div class="person">
                            <img class="person__img" src="./IMG/Ellipse 17.png" alt="">
                            <h4 class="person__title"> Maureen B.</h4>
                        </div>
                        <p class="comment__text">Yes SISTER! I have been toting this for years since I had my "awakening" to how I was living like I was all masculine in a feminine body. Cycles, deaths, rebirths - also all feminine principles that allow those "failures" (ie. deaths) to become learning lessons and birth new directions. I am actually on the job hunt right now - and am so interested in working with you at Spanx!</p>
                    </li>
                    <li class="comment">
                        <div class="person">
                            <img class="person__img" src="./IMG/Ellipse 17.png" alt="">
                            <h4 class="person__title"> Maureen B.</h4>
                        </div>
                        <p class="comment__text">Yes SISTER! I have been toting this for years since I had my "awakening" to how I was living like I was all masculine in a feminine body. Cycles, deaths, rebirths - also all feminine principles that allow those "failures" (ie. deaths) to become learning lessons and birth new directions. I am actually on the job hunt right now - and am so interested in working with you at Spanx!</p>
                    </li>
                </ul>    
            </div>
        </div>
    </div>

    <script src="scripts/bootstrap.min.js"></script>
    <script src="./scripts/script.js"></script>

</body>

</html>