{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
<main class="main">
            <!-- NEW -->
            <div class="news">
                <img src="../images/cours-8.png" alt="">
                <h2 class="title">Microsoft leads the way to hybrid work, transforming business processes to drive innovation</h2>
                <div class="line"></div>
                <p class="text">For many, working from home led to a feeling of digital exhaustion, as traditional work hours gave way to shapeless days and lost weekends. As organizations shift to a new hybrid work model, leaders need to address those challenges with flexible policies and empathy. But technology can also play a critical role by enabling new ways for employees to collaborate securely and productively.</p>
                <p class="text">To support hybrid work effectively, every process across the organization—from operations to engineering, sales, supply chain, and finance—needs to be reimagined to accommodate the shift to a digital workflow. Cloud-based infrastructure is critical for supporting that shift. As Nathalie D’Hers, CVP, Microsoft Digital Employee Experience at Microsoft, says, “Moving to the cloud is essential. The faster you get there, the faster you can empower your people for hybrid work and deliver great experiences that allow employees to be productive from anywhere, without compromising security.”</p>
                <p class="text">“A traditional enterprise technology posture can’t provide the tempo or agility that we need for the new hybrid work model,” states Andrew Wilson, CVP and Chief Digital Officer at Microsoft. “The new speed of normal is something which only cloud can deliver.”</p>
                <p class="text">To learn more download Hybrid Work: A guide for business leaders</p>
            </div>
        </main>
{% endblock %}


