{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
<main class="main">
            <!-- OUR COURSES SECTION -->
            <section class="courses" id="courses">
                <div class="courses__info">
                    <h1 class="courses__title">ALL NEWS</h1>
                </div>
                <div class="courses__container">
                    <!-- Item 1 -->
                    <div class="courses__item">
                        <div class="courses__item__photo">
                            <img src="../images/cours-1.png" alt="Photo">
                        </div>
                        <div class="courses__item__title">
                            <h1>How to Start Your Own Business</h1>
                        </div>
                       <div class="courses__item__description">
                           <p>In this Specialization, you’ll develop basic literacy in the language of business...</p>
                       </div>
                       <div class="ourses__item__button">
                           <a href="./new.html">learn more</a>
                       </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="courses__item">
                        <div class="courses__item__photo">
                            <img src="../images/cours-2.png" alt="Photo">
                        </div>
                        <div class="courses__item__title">
                            <h1>How to Start Your Own Business</h1>
                        </div>
                       <div class="courses__item__description">
                           <p>In this Specialization, you’ll develop basic literacy in the language of business...</p>
                       </div>
                       <div class="ourses__item__button">
                           <a href="./new.html">learn more</a>
                       </div>
                    </div>
                         <!-- Item 3 -->
                         <div class="courses__item">
                            <div class="courses__item__photo">
                                <img src="../images/cours-3.png" alt="Photo">
                            </div>
                            <div class="courses__item__title">
                                <h1>How to Start Your Own Business</h1>
                            </div>
                           <div class="courses__item__description">
                               <p>In this Specialization, you’ll develop basic literacy in the language of business...</p>
                           </div>
                           <div class="ourses__item__button">
                               <a href="./new.html">learn more</a>
                           </div>
                        </div>
                        <!-- Item 4 -->
                        <div class="courses__item">
                            <div class="courses__item__photo">
                                <img src="../images/cours-4.png" alt="Photo">
                            </div>
                            <div class="courses__item__title">
                                <h1>How to Start Your Own Business</h1>
                            </div>
                           <div class="courses__item__description">
                               <p>In this Specialization, you’ll develop basic literacy in the language of business...</p>
                           </div>
                           <div class="ourses__item__button">
                               <a href="./new.html">learn more</a>
                           </div>
                        </div>
                </div>
                <div class="courses__next">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">NEXT PAGE</a>
                </div>
            </section>
        </main>
{% endblock %}



