<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Box Icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/profile.css">

</head>
<body>
        <header class="header">
            <!-- Header Brand Item -->
            <div class="brand">
                <img src="../images/logo-dark.png" alt="Logo">
                
            </div>
            <!-- Header Nav Items -->
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#courses">Corses</a>
                    </li>
                    <li>
                        <a href="#team">Team</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li class="log__in">
                        <a href="#">Log In</a>
                    </li>
                </ul>
            </nav>
            <!-- Header Close Button -->
            <div class="menu__button">
                <div class="menu__button__burger"></div>
            </div>
        </header>

        <main class="main">
            <!-- OUR COURSES SECTION -->
            <section class="profile">
                <div class="profile__title">
                    <h1>PROFILE</h1>
                </div>
               <div class="profile__container">
                   <div class="profile__sidebar">
                       <div class="my__courses">
                           <a href="#">My courses</a>
                       </div>
                       <div class="edit__profile">
                           <a href="#">Edit Profile</a>
                       </div>
                       <div class="user__log__out">
                           <a href="#">
                            <span>Log out</span>
                            <i class='bx bx-log-in'></i>
                           </a>
                       </div>
                   </div>
                   <div class="profile__info">
                       <div class="user__info">
                           <div class="user__info__avatar">
                               <div class="change__avatar">
                                <i class='bx bxs-camera-plus'></i>
                               </div>
                               <img src="../images/bgcolor.png" alt="Avatar">
                           </div>
                           <div class="user__info__name">
                               <h3>Name</h3>
                               <h1>Shakhzod Tojiyev</h1>
                           </div>
                           <div class="user__info__number">
                            <h3>Phone number</h3>
                            <h1>+99899 534-77-36</h1>
                        </div>
                       </div>
                       <div class="user__input">
                            <div class="change__user__name">
                                <p>Enter your details to make changes</p>
                                <div class="user__name__inputs">
                                    <input type="text" placeholder="Name" name="name" id="name" required>
                                    <input type="text" placeholder="Surname" name="surname" id="surname" required>    
                                </div>
                            </div>
                            <div class="change__user__password">
                                <p>Change password</p>
                                <div class="user__password__inputs">
                                    <input type="password" placeholder="New password" name="password" id="password" required>
                                    <input type="password" placeholder="Confirm new password" name="con_password" id="con_password" required>  
                                </div>
                            </div>
                       </div>
                       <div class="user__button">
                           <button>Cancle</button>
                           <button>Save</button>
                       </div>
                   </div>
               </div>
            </section>
        </main>

        <!-- FOOTER SECTION -->
    <footer class="footer">
        <div class="footer__container">
             <div class="footer__logo">
                 <img src="../images/logo-white.png" alt="Logo">
             </div>
              <ul class="footer__list">
                  <li>
                      <a href="#">Home</a>
                  </li>
                  <li>
                      <a href="#">News</a>
                  </li>
                  <li>
                      <a href="#courses">Corses</a>
                  </li>
                  <li>
                      <a href="#team">Team</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
             <div class="footer__icons">
                 <a href="#"><i class='bx bxl-facebook-square'></i></a>
                 <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                 <a href="#"><i class='bx bxl-telegram'></i></a>
             </div>
        </div>
        <h3>Copyright 2021 BUSINESS INVEST All rights reserved</h3>
      </footer>
    <script src="../js/main.js"></script>
</body>
</html>